table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th.num,
td.num {
  text-align: right;
}

td.text-center,
th.text-center {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
